version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: asos_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password123456
      POSTGRES_DB: asos
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: asos_backend
    restart: always
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgres://postgres:password123456@postgres:5432/asos?schema=public
      JWT_SECRET: hocijakysecrettumozebyt
      STAGE: prod
      PORT: 8080
    volumes:
      - uploads:/app/uploads
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    container_name: asos_frontend
    restart: always
    depends_on:
      - backend
    environment:
      VITE_API_URL: http://localhost:8080
    ports:
      - "5173:80"

volumes:
  postgres_data:
  uploads:
