.search-bar {
  position: relative;
  width: 100%;
}

.search-bar input {
  width: 100%;
  padding: 10px 36px 10px 36px;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.search-bar input::placeholder {
  color: white;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.user-card {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  margin-bottom: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.user-card:hover {
  background: rgba(255, 255, 255, 0.1);
}

.text-dimmed {
  color: #ccc;
  margin-bottom: 0 !important;
}

.user-avatar {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  object-fit: cover;
}
